.background-style {
  color: yellow;
}
body {
  background-color: goldenrod;
  align-items: center;
  justify-content: center;
}
/* bulb-sphere {
position: absolute;
top:16.5%;
left: 25%;
width: 50%;
height: 67%;
background: #A6BECF;
border-radius: 50%;
}; */
#image-style {
  width: 750px;
  height: 750px;
  align-self: center;
  display: block;
  margin: auto;
}
.stylesheet {
  background-color: grey;
}
/* For some reason, semi colons affect css now, when you add a semi colon to line 8(after the paranthesis) it changes the alignment, though I don't know why */
